{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <form>
            <div class="page-header"></div>
            <input type="text" class="kv-fa rating-loading" value="3.75" dir="rtl" data-size="xl" title="">
            <div class="clearfix"></div>
        </form>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <script>
        $(document).on('ready', function () {
            
            
            $('.kv-fa').rating({
                theme: 'krajee-fa',
                filledStar: '<i class="fa fa-star"></i>',
                emptyStar: '<i class="fa fa-star-o"></i>'
            });
            $('.rating,.kv-fa').on(
                    'change', function () {
                        console.log('Rating selected: ' + $(this).val());
                    });
        });
     </script>
{% endblock %}