{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button> <!-- ratingのbutton type=submitと被っているがいいのか -->
    </form>
        <div class="row">
            
            <div class="col text-center">
                <form class="rate-form" action="" method="POST" id="{{object.id}}">
                    {% csrf_token %}
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
                </form>
                <br>
                <div id="confirm-box"></div>
            </div>
        </div>
{% endblock %}